<div class="aboutpadding">
<h1>About</h1>
<div id="logo"><%= image_tag "vsbcstore.jpg", width: "350px" %></div>
<p class="about">Valley Stream Beverage Center has been open since July 4, 2012.  We carry products offered by Clare Rose, Manhattan Beverage, Boening Bros., Phoenix Beverage, SKI beer, Union beer some companies I'm sure you might be familiar with as well.  By law due to my particular license (C license) they offer me better pricing then bars, deli's and restaurants. Savings we would like to offer to our valued customers.  
We also do business with Coca Cola, Poland Spring, Pepsi-cola, Arizona, Snapple among other smaller soda and refreshment suppliers.

We like to build relationships with our customers for the long term.  We are a privately-owned family business who understand how important mutually benefical relationships are.  We look forward to meeting and earning your trust as your one shop
beverage center.  God Bless!

</p>
</div>

