<h1>VS Beverage welcomes you!</h1>

<div class="side-image">
  <div class="images-wrapper">></div>
    <div class="side-image-content">
    <%= image_tag "pumking.jpeg", width:"50%" %>
      <h4>Topic Name</h4>
      <h1>Seasonal beer of the month!!</h1>
      <h4>Southern Tier Pumking</h4>
      	<p>"...Big pumpkin, nutmeg, maybe cinnamon. Unbelievable. ABV is non existent. Mouthfeel is thick, but delicious...highly recommended."
		Reviewed by: Beeradvocate.com <%= link_to 'review', href ="http://www.beeradvocate.com/beer/style/72/", target: '_blank' %>
		</p>
  </div>
</div>

<div id="gmap">
<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBjCZjbpo0ARIHpzjmRQGl8VDF1NI972oo
    &q=855 W.Merrick, Valley Stream" allowfullscreen>
</iframe>
</div>







<!-- API_KEY AIzaSyBjCZjbpo0ARIHpzjmRQGl8VDF1NI972oo -->


