<H1>Keg pricing</H1>
<div class="keg"><%= image_tag "keg.jpg", width: "100%" %>
</div>
<h4>Call us(516-285-5800) if you're looking for something you don't see on our list, or make a <%= link_to 'request' , requests_new_path %>, We may be able to get it in for you, Thanks!</h4>