<h1>Products</h1>
<div id="heinbtl"><%= image_tag("heinekenbtl.jpg", :id =>"hb") %></div>
<div id="coronabtl"><%= image_tag("coronabtl.jpg", :id=>"cb") %></div>
	<h3>
		<a target="_blank" href="https://www.beermenus.com/places/5375-valley-stream-discount-beverage-center">Products/Pricing(click)</a>
	</h3>
	