<h1>Specials</h1>
<p>Find me in app/views/home/specials.html.erb</p>
<div class="special"><p></p></div>
<div class="special"><p></p></div>
<div class="special"><p></p></div>
<div class="special"><p></p></div>
<div class="special"><p></p></div>
<div class="special"><p></p></div>
<div class="special"><p></p></div>
<div class="special"><p></p></div>
<div class="special"><p></p></div>
<div class="special"><p></p></div>
<div class="special"><p></p></div>
<div class="special"><p></p></div>
<div class="special"><p></p></div>
<div class="special"><p></p></div>
<div class="special"><p></p></div>
<div class="special"><p></p></div>
<div class="special"><p></p></div>
<div class="special"><p></p></div>
<div class="special"><p></p></div>
<div class="special"><p></p></div>


