<h1 class="sp">Special$</h1>
<div class="special">
<div class="special1"><%= image_tag "specials1.jpg", width: "100%" %>
</div>

<div class="special2"><%= image_tag "specials2.jpg", width: "100%" %>
</div>
<div class="special"></div>
<div class="special"><p></p></div>
<div class="special"><p></p></div>
<div class="special"><p></p></div>
<div class="special"><p></p></div>
<div class="special"><p></p></div>
<div class="special"><p></p></div>
<div class="special"><p></p></div>
<div class="special"><p></p></div>
<div class="special"><p></p></div>
<div class="special"><p></p></div>
<div class="special"><p></p></div>
<div class="special"><p></p></div>
<div class="special"><p></p></div>
<div class="special"><p></p></div>
<div class="special"><p></p></div>
<div class="special"><p></p></div>
<div class="special"><p></p></div>
</div>


<!-- <div id="overlay" style="display: block; position: absolute; top: 0px; left: 0px; z-index: 90; width: 100%; height: 1804px;"></div> -->

<!-- <div id="lightbox" style="display: block; position: absolute; z-index: 100; top: 272.5px; left: 149.5px;"><a href="#" title="Click to close"><img id="lightboxImage" src="http://www.bigbeverage.net/ads/valPakFront.jpg"></a><div id="lightboxDetails" style="width: 1000px;"><div id="lightboxCaption" style="display: none;"></div><div id="keyboardMsg">press <a href="#" onclick="hideLightbox(); return false;"><kbd>x</kbd></a> to close</div></div></div> -->
 <!-- -->
<!-- <a href="#" title="Click to close"><img id="lightboxImage" src="http://www.bigbeverage.net/ads/valPakFront.jpg"></a>  -->