

h1 {    font-size: 4rem;}h2 {    font-size: golden-ratio(4rem, -1);}h3 {    font-size: golden-ratio(4rem, -2);}
section  {
  @include linear-gradient(to top, red, orange);

}

.faq
	{font-family: $helvetica;}

#logo {float: left; padding: 1em;}
.about {font-family: $helvetica; font-size: 2rem;}